.noCamera {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
}

.video {
  background: #1a1a1a;
  border-radius: 12px;
}

.additional {
  border-radius: 12px;
  background: var(--base-700);
}

.ContentSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  min-height: 60vh;
}

.cameraEnabled {
  grid-template-columns: 328px 1fr;
}

.userName {
  border-radius: 8px;
  color: var(--base-100);
  background: var(--base-700);
  width: fit-content;
  padding: 4px;
}
