.ControlBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.btn {
  padding: 6px 20px;
  border-radius: 24px;
  background-color: var(--base-600);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  color: var(--base-400);
  font-size: 12px;
  line-height: 16px;
}
